/* ------------------------------------------import section --------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans&family=Poppins&family=Source+Serif+Pro&display=swap');
/*---------------------------------------------- utilitysection---------------------------------------- */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*---------------------------------------------- Start header------------------------------------------ */
nav{
    width: 100%;
    height: 94px;
    background-color: #562EFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.nav-logo{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
}
.nav-logo span{
    padding-left: 10px;
}
.nav-logo img{
    width: 40.42px;
    Height: 51px;
}
.nav-profile{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center; 
}
.nav-profile a{
    text-decoration: none;
    padding-right: 27px;
    color: white;
}
.nav-profile img{
    width: 51px;
    height: 51px;
}
/*----------------------------------------------- Start main section----------------------------------- */
                                           /******************************** */
/*------------------------------------Start-instructor-section-------------------------------------------*/.instructors{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}     
.instructor{
    width: 100%;
}   
.instructor img{
   width: 12%;
}                                   
/*-------------------------------------  Start media query for nav------------------------------------- */
 @media only screen and (max-width:688px){ 
    nav{
        width: 100%;
    }
}